services:
  mongodb:
    container_name: ${MONGO_NAME}
    image: ${MONGO_IMAGE}
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - ${MONGO_CONFIG}:/data/db
    healthcheck:
      test: ["CMD", "mongo", "admin", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - unifi-net
      - management-net
  unifi:
    container_name: ${UNIFI_NAME}
    image: ${UNIFI_IMAGE}
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_DBNAME=${MONGO_DBNAME}
      - MONGO_AUTHSOURCE=${MONGO_AUTHSOURCE}
      - MEM_LIMIT=${UNIFI_MEM_LIMIT}
      - MEM_STARTUP=${UNIFI_MEM_STARTUP}
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    volumes:
      - ${UNIFI_CONFIG}:/config
    healthcheck:
      test: ["CMD", "curl", "-f", "-k", "https://localhost:8443"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      unifi-net:
      management-net:
networks:
  unifi-net:
    external: true
  management-net:
    external: true
